
#Sidebar.show {
  /* width: 70px; */
  width: 15px;
}

#SiteWrapper.show {
  /* margin-left: 70px; */
  margin-left: 15px;
}

#Sidebar.show.expand {
  width: 250px;
}

#SiteWrapper.show.expand {
  margin-left: 250px;
}

.bg-sidebar {
  background-color: #291800;
}

.sidebar-content {
  /* padding-top: 5px; */
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
}
.menu-item {
  display: block;
  margin-bottom: 2px;
}
.menu-link {
  position: relative;
  display: block;
  color: #fff;
  line-height: 1;
  padding: 10px 15px;
  transition: 0.3s;
  cursor: pointer;
}
.menu-link:hover,
.menu-link.active {
  background-color: #fff;
  color: #bf2a2a;
}
.menu-icon {
  margin-right: 5px;
}
.menu-link .menu-icon {
  font-size: 20px;
}

.dropmenu-toggle {
  position: relative;
}
.dropmenu-toggle:before {
  position: absolute;
  content: "\f107";
  background-color: transparent;
  color: #fff;
  font-family: 'FontAwesome';
  font-size: 16px;
  width: 10px;
  left: auto;
  right: 10px;
  transition: 0.3s;
}
.dropmenu-toggle.active:before {
  content: "\f106";
}
.dropmenu-toggle:hover:before,
.dropmenu-toggle.active:before {
  color: #bf2a2a;
}

.drop-menu {
  display: none;
  min-width: 250px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  margin: 0;
  padding-left: 32px;
  border-top: 1px solid rgb(131, 77, 77);
  border-bottom: 1px solid rgb(131, 77, 77);
  transition: 0.3s;
  z-index: 1000;
}
.drop-menu.show {
  display: block;
}
.drop-item {
  display: block;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
}
.drop-menu .drop-item {
  border-bottom: 1px solid rgb(131, 77, 77);
}
.drop-menu .drop-item:last-child {
  border-bottom: 0;
}
.drop-link {
  display: block;
  /* color: #212529; */
  color: #e2dede;
  padding: 5px 10px;
  transition: 0.3s;
}
.drop-link:hover,
.drop-link.active {
  background-color: #fff;
  color: #bf2a2a;
}



