
#Sidebar.collapse.show {
  width: 70px;
}

#SiteWrapper.collapse.show {
  margin-left: 70px;
}

#Sidebar.collapse.show.expand {
  width: 250px;
}

#SiteWrapper.collapse.show.expand {
  margin-left: 250px;
}

.bg-sidebar {
  background-color: #291800;
}



